<%-include("../includes/head") %>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/productlist.css">
    <link rel="stylesheet" href="/styles/product.css">
    <% if(isAdmin) { %>
        <script src="/scripts/delete.js" defer></script>
    <%}%>
    <% if(isAuth && !isAdmin) { %>
        <script src="/scripts/addCart.js" defer></script>
    <%}%>
</head>

<%-include("../includes/header") %>

<main>
    <% for (let i=0; i < Products.length; i+=4) {%>
        <div class="row_">
        <% for(let j = 0; j < 4 && i + j < Products.length; j++) { %>
                <% let Product = Products[i+j]%>
                <div class="Card card<%=Product._id%>" style="width: 18rem;">
                    <div class="img-container" style="background-image: url('../<%=Product.imageUrl%>'); height: 15rem; background-repeat: no-repeat; background-size: contain;background-position: center; border-radius: 10px;">
                        <!-- <img src="" class="card-img" alt="<%=Product.title%>"> -->
                    </div>
                    <div class="card-content">
                        <h5 class="card-title"><%=Product.name%></h5>
                        <!-- <p class="card-text"><%=Product.summary%></p> -->
                        <h6 class="card-title" style="font-size: 1.3rem;">₹ <%= Product.price%></h6>
                        <div id="controls">
                            <a href="/view/<%=Product._id.toString()%>"
                                class="btn btn-primary">View</a>
                            <% if(isAdmin){ %>
                                <a href="/admin/edit/<%=Product._id.toString()%>"
                                    class="btn btn-primary">Edit</a>
                                <button data-productID="<%=Product._id.toString()%>"
                                    data-csrfToken="<%=csrfToken%>" class="btn btn-primary delete">
                                    Delete
                                </button>
                                <% }else { %>
                                    <button class="btn btn-primary addCart"
                                        data-productId="<%=Product._id%>"
                                        data-csrfToken="<%=csrfToken%>" style="width: 9rem;"> Add to Cart</button>
                                    <%}%>
                        </div>
                    </div>
                </div>
            <% } %>
    </div>
    <% } %>
</main>

<%-include("../includes/footer")%>
                    