<%-include("../includes/head") %>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/productlist.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <% if(isAdmin) { %>
        <script src="/scripts/delete.js" defer></script>
    <%}%>
    <script src="/scripts/updateCart.js" defer></script>
    </head>

    <%-include("../includes/header") %>

        <main>
            <h5 style="text-align: center;display:none; position: relative; margin-top: 0 !important; margin-bottom: 5rem !important;" id="NoItems">No Items in Cart</h5>
            <%if(isAuth && Products.length){%>
            <div class="card Card" style="width: 45rem;  margin-left: auto !important; margin-right: auto !important;margin-top: 2rem; margin-bottom: 4rem !important;">
               
            <% for(Product of Products) { %>
                <div class="cart-item">
                    <div class="col-md-4" style="background-image: url('../<%=Product.actualProduct.imageUrl%>'); height: 15rem; background-size: contain; background-repeat: no-repeat; background-position: center;">
                    </div>
                   
                            <ul style="list-style-type: none; padding-left: 0;">
                                <li>
                                    <h3>
                                        <%=Product.actualProduct.name%> 
                                    </h3>
                                </li>
                                <li>
                                    <p>
                                        <%=Product.actualProduct.summary%>
                                    </p>  
                                </li>
                                <div class="space"></div>
                                <li>
                                    <p>
                                        Price per item: <%= Product.actualProduct.price%> rupees
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Quantity: <span id="product-num-<%=Product.actualProduct._id%>"><%=Product.number%></span> <button class="quantity plus btn-primary"  data-userid="<%=userId%>" data-csrfToken="<%=csrfToken%>" data-productId="<%=Product.actualProduct._id%>"  >+</button> 
                                        <button class="quantity minus btn-primary" data-userid="<%=userId%>" data-csrfToken="<%=csrfToken%>" data-productId="<%=Product.actualProduct._id%>">-</button>
                                    </p>
                                </li>
                            </ul>
        
                </div>
                        <% } %>

                       
                            <h4>Total Price: <span  id="totalPrice"><%=totalPrice%></span> rupees
                            <form id ="buyform"  action="../user/buy" method="post">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <button class="btn btn-primary" style="margin-top: 0.5rem;">Buy Products</button>
                            </form>
                        </h4>
                        </div>
                        <%}else if(!Products.length){%>
                            <h5 style="text-align: center; margin-top:2rem;">No Items in Cart</h5>
                        <%} else{%>
                            <h5 style="text-align: center; ">Please Sign in to view Cart</h5>
                        <%}%>
                    
             
        </main>

<%-include("../includes/footer")%>