<%-include("../includes/head") %>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/productlist.css">
    <link rel="stylesheet" href="/styles/cart.css">
    <% if(isAdmin) { %>
        <script src="/scripts/delete.js" defer></script>
    <%}%>
    <script src="/scripts/updateCart.js" defer></script>
    </head>

    <%-include("../includes/header") %>

        <main>
            <div class="card card">
                <div class="card__content row g-0">
            <% for(Product of Products) { %>
                <div class="cart-item">
                    <div class="col-md-4">
                        <img src="../<%=Product.actualProduct.imageUrl%>" alt="Image">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <h3>
                                        <%=Product.actualProduct.name%> 
                                    </h3>
                                </li>
                                <li>
                                    <p>
                                        <%=Product.actualProduct.summary%>
                                    </p>  
                                </li>
                                <div class="space"></div>
                                <li>
                                    <p>
                                        Price per item: <%= Product.actualProduct.price%> rupees
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Quantity: <em id="product-num-<%=Product.actualProduct._id%>"><%=Product.number%></em> <button class="quantity plus"  data-userid="<%=userId%>" data-csrfToken="<%=csrfToken%>" data-productId="<%=Product.actualProduct._id%>"  >+</button> <button class="quantity minus" data-userid="<%=userId%>" data-csrfToken="<%=csrfToken%>" data-productId="<%=Product.actualProduct._id%>">-</button>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                        <% } %>
                    <h4>Total Price: <em  id="totalPrice"><%=totalPrice%></em> rupees 
                        <%if(isAuth && Products.length){%>
                            <form id ="buyform"  action="../user/buy" method="post">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <button class="btn btn-primary">Buy Products</button>
                            </form>
                        <%}%>
                    </h4>
                </div>
                </div>
        </main>